# Configuration Template

# IRC
nickname    "sluggle"
ircname     "Sluggle the Sailor Bot"
server      "irc.freenode.net"
channels    "#Foo", "#Bar"
bots        "ircbot1", "ircbot2"
addressed   0
private     0
prefix      '!'

# Bing
url         "https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$top=1&$format=JSON&Query="
key         "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
